{% extends 'main.html' %}

{% block content %}

	<br><br><br><br><br><br>
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Product name</th>
				<th scope="col">Proteins</th>
				<th scope="col">Carbohydrates</th>
				<th scope="col">Fat</th>
				<th scope="col">Price</th>
				<th scope="col">Weight</th>				
			</tr>
		</thead>
		<tbody>
			{% for element in objects.diet_objects %}
					<tr>
						<td>
							<button type="button" class="btn btn-secondary">
								<a class="hyperlink-off" href="#">
									Remove
								</a>
							</button>
						</td>	
						<td>{{ element.product|lower|capfirst }}</td>
						<td>{{ element.position_protein|floatformat:1 }}</td>
						<td>{{ element.position_carbohydrates|floatformat:1 }}</td>
						<td>{{ element.position_fat|floatformat:1 }}</td>		
						<td>{{ element.position_price|floatformat:2 }} $</td>				
						<td>{{ element.weight|floatformat:0 }}</td>
						<td>
							<button type="button" class="btn btn-secondary">
								<a class="hyperlink-off" href="#">
									Change quantity
								</a>
							</button>
						</td>
					</tr>	
								
			{% endfor %}
			{% for element in objects.diet_plan %}
				<tr>
					<td></td>
					<td> Summary: </td>					
					<td>{{ element.protein_consumed|floatformat:0 }}</td>
					<td>{{ element.carbohydrates_consumed|floatformat:0 }}</td>
					<td>{{ element.fat_consumed|floatformat:0 }}</td>	
					<td>{{ element.money_spent|floatformat:2 }} $</td>
					<td>{{ element.weight_consumed|floatformat:0 }}</td>
					{% if element.calories_consumed <= objects.profile.calories_plan %}
						<td style="color:green" >
							<b>{{ element.calories_consumed|floatformat:0 }} / {{ objects.profile.calories_plan }}<b>
						</td>
					{% else %}
						<td style="color:red" >
							<b>{{ element.calories_consumed|floatformat:0 }} / {{ objects.profile.calories_plan }}<b>
						</td>
					{% endif %}
				</tr>	
			{% endfor %}

		</tbody>
	</table>		
{% endblock %}