{% extends 'main.html' %}

{% block content %}


	<div class="post">

        <h1>{{object.name|lower|capfirst}}</h1>
        <br><br><br>

        <p>{{ object.recipe }}</p>

        <p>{{ object.total_protein }} grams of protein per portion</p>      
        <p>{{ object.total_carbohydrates }} grams of carbohydrates per portion</p> 
        <p>{{ object.total_fat }}  grams of fat per portion</p>   
        <p>{{ object.total_weight }} estimated weight for one portion of product</p>    
        <p>{{ object.total_price }} estimated price for the meal</p>  

    </div>
    
    <br><br><br><br><br>

    {% if request.user.is_admin or request.user.is_staff %}


        <button class="btn btn-info ml-3 mr-3" type="submit">
            <a class="Update-button" href="{% url 'food:update_prod' object.pk %}">
                Edit
            </a>
        </button>
   
        <button class="btn btn-danger" type="submit">
            <a class="Update-button" href="{% url 'food:delete_prod' object.pk %}">
                Delete
            </a>
        </button>

    {% endif %}


{% endblock %}