{% extends 'main.html' %}

{% block content %}


	<div class="post">

        <h1>{{object.name|lower|capfirst}}</h1>
        <br><br><br>

        <p>{{ object.recipe }}</p>

        <p>{{ object.total_protein }} grams of protein per portion</p>      
        <p>{{ object.total_carbohydrates }} grams of carbohydrates per portion</p> 
        <p>{{ object.total_fat }}  grams of fat per portion</p>   
        <p>{{ object.total_weight }} estimated weight for one portion of product</p>    
        <p>{{ object.total_price }} estimated price for the meal</p>  

    </div>
    <br><br><br><br><br>

    {% if object.ingredinet_based == False %}
    	<button class="btn btn-secondary" type="submit">
    		<a class="Update-button" href="{% url 'food:ingredient_table' object.pk %}">Update recipe</a>
    	</button>
    {% endif %}

    <button class="btn btn-info ml-3 mr-3" type="submit">
        <a class="Update-button" href="{% url 'food:update_prod' object.pk %}">
            Edit
        </a>
    </button>

    <button class="btn btn-danger" type="submit">
        <a class="Update-button" href="#">Delete</a>
    </button>


{% endblock %}