{% extends 'main.html' %}

{% block content %}	
	
	<table class="table table-striped table-dark">

		<thead>
			<tr>
				<th scope="col">Product name</th>
				<th scope="col">Proteins</th>
				<th scope="col">Carbohydrates</th>
				<th scope="col">Fat</th>
				<th scope="col">Quantity per portion</th>
				<th scope="col">Price</th>
				<th scope="col">Add</th>
			</tr>
		</thead>

		<tbody>	
			{% for item in objects %}
				<tr>
					<td>
						<a class="hyperlink-off" href="#">{{ item.name|capfirst }}</a>	
					</td>						
					<td>{{item.total_protein}}</td>
					<td>{{item.total_carbohydrates}}</td>
					<td>{{item.total_fat}}</td>
					<td>{{item.total_weight}}</td>
					<td>{{item.total_price}}</td>
					<td>									 
						<button type="button" class="btn btn-secondary">
							<a class="hyperlink-off" href="#">Add</a>
						</button>													
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>


	{% if is_paginated %}

		{% if page_obj.has_previous and  page_obj.paginator.num_pages > 2 %}
			<a href="?page=1" class="hyperlink-off"><<</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}

			{% if  page_obj.number == num %}
				<strong><u><a href="?page={{num}}" class="hyperlink-off">{{num}}</a></u></strong>
			{% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
				<a href="?page={{num}}" class="hyperlink-off">{{num}}</a>
			{% endif %}

		{% endfor %}

		{% if page_obj.paginator.num_pages >= 3 and page_obj.number != page_obj.paginator.num_pages %}
			<a class="hyperlink-off" href="?page={{page_obj.paginator.num_pages}}">>></a>
		{% endif %}

	{% endif %}

{% endblock %}