{% load static %}

<footer class =".bg-secondary mt-sm-1">

	<div>
		<p class="text-light copy"> 
			Copyrights © 2020 ALL RIGHTS RESERVED
		</p>
	</div>

	<div class="row border-top-secondary ">

		<div class="col"></div>

		<div class="col">
			<a href="https://github.com/310224954/">
				<img src="{% static 'media/github-icon.png' %}" width="35" height="35" alt="" class="d-inline-block mr-sm-1">
			</a>
		</div>
		<div class="col">
			<a href="https://piotrluk92@gmail.com">
				<img src="{% static 'media/gmail-icon.png' %}" width="40" height="40" alt="" class="d-inline-block mr-sm-1">
			</a>
		</div>
		<div class="col">
			<a href="https://www.linkedin.com/in/piotr-%C5%82ukaszewski-600b6a12a/">
				<img src="{% static 'media/linkedin-icon.png' %}" width="30" height="30" alt="" class="d-inline-block mr-sm-1">
			</a>
		</div>
		
		<div class="col"></div>

	</div>


</footer>