body{
	background-color: #0f121f;
	font-family: Ubuntu;		
	color: #fff;
	font-size:large;
	text-align: center;
	
}

footer {

	background: #414445;/*rgba(25, 27, 27, 0.8)*/
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /*	box-shadow: 0 50vh 0 50vh #414445;
	padding: 30px;
	margin-top: 10px;
	background: #292b2c;*/
}


#navbargroup{
	padding-bottom: 50px;
}
#title{
	padding-bottom: 50px;
}

.content-section {
	/* background: #ffffff;*/
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title, .article-title:hover{
	text-decoration: none;
	font-family: Ubuntu;		
	color: #fff;
}

.Update-button, .Update-button:hover{
	text-decoration: none;
	font-family: Ubuntu;		
	color: #fff;
}

.hyperlink-off, .hyperlink-off:hover{
	text-decoration: none;
	font-family: Ubuntu;		
	color: #fff;
}

.account-img {
	width: 125px;
	height: 125px;
}

.art-img{
	width: 100px;
	height: 100px;
}

.account-heading {
	font-size: 2.5rem;
}

.copy{
	padding-bottom: 10;
}
